{% extends "base.html" %}

{% block title %}Algorithm Analysis for CPD{% endblock %}

{% block content %}
<div class="container mt-4">
        <h2>Anomaly detection using Matrix Profile:</h2>
        <select class="form-select" onchange="toggleForms(this.value)">
            <option value="">Select action</option>
            <option value="generate">Generate time series</option>
            <option value="select">Select from existing</option>
            <option value="upload">Upload CSV file</option>
        </select>

        <form id="generateForm" method="post" onsubmit="generateSeries(event)" style="display: none;" class="mt-3">
            <h3>Generate Time Series</h3>
            <label for="n">Series length:</label>
            <input type="number" name="n" id="n" class="form-control" value="300" min="100" max="1000000" required>
            <label for="k">Dimensionality:</label>
            <input type="number" name="k" id="k" class="form-control" value="1" min="1" max="100" required>

            <label for="avg_pattern_length">Average pattern length in series:</label>
            <input type="number" name="avg_pattern_length" id="avg_pattern_length" class="form-control" value="50" min="50" max="1000000" step="1" required>

            <label for="avg_amplitude">Average amplitude:</label>
            <input type="number" name="avg_amplitude" id="avg_amplitude" class="form-control" value="1" min="0.01" max="10.0" step="0.01" required>

            <label for="default_variance">Standard deviation of amplitude:</label>
            <input type="number" name="default_variance" id="default_variance" class="form-control" value="0.1" min="0.01" max="10.0" step="0.01" required>

            <label for="variance_pattern_length">Variance pattern length:</label>
            <input type="number" name="variance_pattern_length" id="variance_pattern_length" class="form-control" value="50" min="10" max="1000000" step="1" required>

            <label for="variance_amplitude">Variance amplitude:</label>
            <input type="number" name="variance_amplitude" id="variance_amplitude" class="form-control" value="1" min="0.1" max="10.0" step="0.1" required>

            <label for="algorithm_for_gen" class="form-label">Algorithm:</label>
            <select name="algorithm_for_gen" id="algorithm_for_gen" class="form-select" onchange="toggleDampFields(this.value, 'gen')">
                <option value="dumb">Linear with Percentile</option>
                <option value="damp">DAMP with Percentile</option>
            </select>
            <label for="threshold_for_gen" class="form-label">Anomaly detection percentile:</label>
            <input type="number" name="threshold_for_gen" id="threshold_for_gen" class="form-control" value="99.5" min="0" max="100" step="0.01" required>

            <label for="m_gen" class="form-label">Window width in algorithms:</label>
            <input type="number" name="m_gen" id="m_gen" class="form-control" value="50" min="1" max="1000000" step="1" required>

            <div id="dampFields_gen" style="display: none;">
                <label for="learn_length_damp_gen" class="form-label">DAMP training length:</label>
                <input type="number" name="learn_length_damp_gen" id="learn_length_damp_gen" class="form-control" min="1" step="1">
                <label for="window_length_damp_gen" class="form-label">DAMP window length:</label>
                <input type="number" name="window_length_damp_gen" id="window_length_damp_gen" class="form-control" min="1" step="1">
            </div>

            <button type="submit" class="btn btn-primary mt-2">Generate</button>
        </form>

        <form id="selectForm" method="post" style="display: none;" class="mt-3">
            <h3>Select Time Series</h3>
            <label for="series">Available series:</label>
            <select name="series" id="series" class="form-select">
                {% for file_name, meta in available_series.items() %}
                    {% if meta["dimensions"] == 2 %}
                        <option value="{{ file_name }}">
                            {{ file_name }} ({{ meta["length"] }} * {{ meta["dimensions"] - 1 }})
                        </option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="algorithm_for_choose" class="form-label">Algorithm:</label>
            <select name="algorithm_for_choose" id="algorithm_for_choose" class="form-select" onchange="toggleDampFields(this.value, 'choose')">
                <option value="dumb">Linear with Percentile</option>
                <option value="damp">DAMP with Percentile</option>
            </select>
            <label for="threshold_for_choose" class="form-label">Anomaly detection percentile:</label>
            <input type="number" name="threshold_for_choose" id="threshold_for_choose" class="form-control" value="99.5" min="0" max="100" step="0.01" required>

            <label for="m_choose" class="form-label">Window width in algorithms:</label>
            <input type="number" name="m_choose" id="m_choose" class="form-control" value="50" min="1" max="1000000" step="1" required>

            <div id="dampFields_choose" style="display: none;">
                <label for="learn_length_damp_choose" class="form-label">DAMP training length:</label>
                <input type="number" name="learn_length_damp_choose" id="learn_length_damp_choose" class="form-control" min="1" step="1">
                <label for="window_length_damp_choose" class="form-label">DAMP window length:</label>
                <input type="number" name="window_length_damp_choose" id="window_length_damp_choose" class="form-control" min="1" step="1">
            </div>

            <button type="submit" class="btn btn-primary mt-2">Select</button>
        </form>

        <form id="uploadForm" method="post" enctype="multipart/form-data" style="display: none;" class="mt-3">
            <h3>Upload Your Own Time Series</h3>
            <label for="file"> The file must be in CSV format with at least 2 columns, the first column representing time points, and the second and subsequent columns representing series values. The series must not contain any missing data.</label>
            <input type="file" name="file" id="file" class="form-control" accept=".csv" required>

            <label for="algorithm_for_load" class="form-label">Algorithm:</label>
            <select name="algorithm_for_load" id="algorithm_for_load" class="form-select" onchange="toggleDampFields(this.value, 'load')">
                <option value="dumb">Linear with Percentile</option>
                <option value="damp">DAMP with Percentile</option>
            </select>

            <div id="dampFields_load" style="display: none;">
                <label for="learn_length_damp_load" class="form-label">DAMP training length:</label>
                <input type="number" name="learn_length_damp_load" id="learn_length_damp_load" class="form-control" min="1" step="1">
                <label for="window_length_damp_load" class="form-label">DAMP window length:</label>
                <input type="number" name="window_length_damp_load" id="window_length_damp_load" class="form-control" min="1" step="1">
            </div>

            <button type="submit" class="btn btn-primary mt-2">Upload</button>
        </form>
    </div>
    <div class="container mt-4">
        <section class="mt-4">
            <p>
            <h2>Time Series with Detected Anomalies:</h2>
            {% if plot_html %}
                <div id="plot" class="mb-4">{{ plot_html|safe }}</div>
            {% else %}
                <p>Waiting for parameters.</p>
            {% endif %}
        </section>
        {% if error is not none %}
            <div class="container mt-3 d-flex justify-content-center">
                <div class="alert alert-danger text-center" role="alert">
                    <strong>{{ error }}</strong>
                </div>
            </div>
        {% endif %}
    </div>

<script>
    function toggleDampFields(value, formType) {
        document.getElementById("dampFields_" + formType).style.display = value === "damp" ? "block" : "none";
    }
</script>

{% endblock %}
