{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Подсчет матричного профиля для временного ряда</h2>
    <select class="form-select" onchange="toggleForms(this.value)">
        <option value="">Выберите действие</option>
        <option value="generate">Сгенерировать временной ряд</option>
        <option value="select">Выбрать из существующих</option>
        <option value="upload">Загрузить CSV-файл</option>
    </select>

    <form id="generateForm" method="post" onsubmit="generateSeries(event)" style="display: none;" class="mt-3">
        <h3>Генерация временного ряда</h3>
        <label for="n">Длина ряда:</label>
        <input type="number" name="n" id="n" class="form-control" value="300" min="100" max="1000000" required>
        <label for="k">Размерность:</label>
        <input type="number" name="k" id="k" class="form-control" value="64" min="1" max="100" required>

        <label for="algorithm_for_gen" class="form-label">Алгоритм вычисления матричного профиля:</label>
        <select name="algorithm_for_gen" id="algorithm_for_gen" class="form-select">
            <option value="stomp">STOMP</option>
            <option value="scrimp++">SCRIMP++</option>
            <option value="stump">STUMP</option>
            <option value="mstump">MSTUMP</option>
        </select>
        <label for="m_for_gen" class="form-label">Длина окна матричного профиля (m):</label>
        <input type="number" name="m_for_gen" id="m_for_gen" class="form-control" value="60" min="1" required>

        <button type="submit" class="btn btn-primary mt-2">Сгенерировать</button>
    </form>

    <form id="selectForm" method="post" style="display: none;" class="mt-3">
        <h3>Выбор временного ряда</h3>
        <label for="series">Доступные ряды:</label>
        <select name="series" id="series" class="form-select">
            {% for file_name, meta in available_series.items() %}
                <option value="{{ file_name }}">
                    {{ file_name }} ({{ meta["length"] }} * {{ meta["dimensions"] }})
                </option>
            {% endfor %}
        </select>

        <label for="algorithm_for_choose" class="form-label">Алгоритм вычисления матричного профиля:</label>
        <select name="algorithm_for_choose" id="algorithm_for_choose" class="form-select">
            <option value="stomp">STOMP</option>
            <option value="scrimp++">SCRIMP++</option>
            <option value="stump">STUMP</option>
            <option value="mstump">MSTUMP</option>
        </select>
        <label for="m_for_choose" class="form-label">Длина окна матричного профиля (m):</label>
        <input type="number" name="m_for_choose" id="m_for_choose" class="form-control" value="60" min="1" required>

        <button type="submit" class="btn btn-primary mt-2">Выбрать</button>
    </form>

    <form id="uploadForm" method="post" enctype="multipart/form-data" style="display: none;" class="mt-3">
        <h3>Загрузка временного ряда</h3>
        <label for="file">Выберите CSV-файл:</label>
        <input type="file" name="file" id="file" class="form-control" accept=".csv" required>

        <label for="algorithm_for_load" class="form-label">Алгоритм вычисления матричного профиля:</label>
        <select name="algorithm_for_load" id="algorithm_for_load" class="form-select">
            <option value="stomp">STOMP</option>
            <option value="scrimp++">SCRIMP++</option>
            <option value="stump">STUMP</option>
            <option value="mstump">MSTUMP</option>
        </select>
        <label for="m_for_load" class="form-label">Длина окна матричного профиля (m):</label>
        <input type="number" name="m_for_load" id="m_for_load" class="form-control" value="60" min="1" required>

        <button type="submit" class="btn btn-primary mt-2">Загрузить</button>
    </form>

    <div id="plotContainer" class="mt-4"></div>

    <section class="mt-4">
        <h2>Временной ряд и матричный профиль:</h2>
        <div id="plot" class="mb-4">{{ plot_html|safe }}</div>
    </section>
</div>
{% endblock %}
