{% extends "base.html" %}

{% block title %}Анализ алгоритмов для CPD{% endblock %}

{% block content %}
<div class="container mt-4">
        <h2>Поиск аномалий с помощью матричного профиля:</h2>
        <select class="form-select" onchange="toggleForms(this.value)">
            <option value="">Выберите действие</option>
            <option value="generate">Сгенерировать временной ряд</option>
            <option value="select">Выбрать из существующих</option>
            <option value="upload">Загрузить CSV-файл</option>
        </select>

        <form id="generateForm" method="post" onsubmit="generateSeries(event)" style="display: none;" class="mt-3">
            <h3>Генерация временного ряда</h3>
            <label for="n">Длина ряда:</label>
            <input type="number" name="n" id="n" class="form-control" value="300" min="100" max="1000000" required>
            <label for="k">Размерность:</label>
            <input type="number" name="k" id="k" class="form-control" value="2" min="2" max="100" required>

            <label for="avg_pattern_length">Средняя длина паттернов в ряде:</label>
            <input type="number" name="avg_pattern_length" id="avg_pattern_length" class="form-control" value="50" min="50" max="1000000" step="1" required>
    
            <label for="avg_amplitude">Средняя амплитуда:</label>
            <input type="number" name="avg_amplitude" id="avg_amplitude" class="form-control" value="1" min="0.01" max="10.0" step="0.01" required>

            <label for="default_variance">Стандартная дисперсия амплитуда:</label>
            <input type="number" name="default_variance" id="default_variance" class="form-control" value="0.1" min="0.01" max="10.0" step="0.01" required>

            <label for="variance_pattern_length">Длина паттерна дисперсии:</label>
            <input type="number" name="variance_pattern_length" id="variance_pattern_length" class="form-control" value="50" min="10" max="1000000" step="1" required>

            <label for="variance_amplitude">Амплитуда дисперсии:</label>
            <input type="number" name="variance_amplitude" id="variance_amplitude" class="form-control" value="1" min="0.1" max="10.0" step="0.1" required>


            <label for="algorithm_for_gen" class="form-label">Алгоритм:</label>
            <select name="algorithm_for_gen" id="algorithm_for_gen" class="form-select">
                <option value="post_sorting">Post-sorting method</option>
                <option value="pre_sorting">Pre-sorting method</option>
            </select>
            <label for="threshold_for_gen" class="form-label">Перцентиль определения аномалии:</label>
            <input type="number" name="threshold_for_gen" id="threshold_for_gen" class="form-control" value="99.5" min="0" max="100" step="0.1" required>

            <label for="m_gen" class="form-label">Ширина окна в алгоритмах:</label>
            <input type="number" name="m_gen" id="m_gen" class="form-control" value="50" min="1" max="1000000" step="1" required>

            <button type="submit" class="btn btn-primary mt-2">Сгенерировать</button>
        </form>

        <form id="selectForm" method="post" style="display: none;" class="mt-3">
            <h3>Выбор временного ряда</h3>
            <label for="series">Доступные ряды:</label>
            <select name="series" id="series" class="form-select">
                {% for file_name, meta in available_series.items() %}
                    {% if meta["dimensions"] > 2 %}
                        <option value="{{ file_name }}">
                            {{ file_name }} ({{ meta["length"] }} * {{ meta["dimensions"] - 1 }})
                        </option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="algorithm_for_choose" class="form-label">Алгоритм:</label>
            <select name="algorithm_for_choose" id="algorithm_for_choose" class="form-select">
                <option value="post_sorting">Post-sorting method</option>
                <option value="pre_sorting">Pre-sorting method</option>
            </select>
            <label for="threshold_for_choose" class="form-label">Перцентиль определения аномалии:</label>
            <input type="number" name="threshold_for_choose" id="threshold_for_choose" class="form-control" value="99.5" min="0" max="100" step="0.1" required>

            <label for="m_choose" class="form-label">Ширина окна в алгоритмах:</label>
            <input type="number" name="m_choose" id="m_choose" class="form-control" value="50" min="1" max="1000000" step="1" required>

            <button type="submit" class="btn btn-primary mt-2">Выбрать</button>
        </form>

        <form id="uploadForm" method="post" enctype="multipart/form-data" style="display: none;" class="mt-3">
            <h3>Загрузка временного ряда</h3>
            <label for="file">Выберите CSV-файл:</label>
            <input type="file" name="file" id="file" class="form-control" accept=".csv" required>

            <label for="algorithm_for_load" class="form-label">Алгоритм:</label>
            <select name="algorithm_for_load" id="algorithm_for_load" class="form-select">
                <option value="post_sorting">Post-sorting method</option>
                <option value="pre_sorting">Pre-sorting method</option>
            </select>
            <label for="threshold_for_load" class="form-label">Перцентиль определения аномалии:</label>
            <input type="number" name="threshold_for_load" id="threshold_for_load" class="form-control" value="99.5" min="0" max="100" step="0.1" required>

            <label for="m_load" class="form-label">Ширина окна в алгоритмах:</label>
            <input type="number" name="m_load" id="m_load" class="form-control" value="50" min="1" max="1000000" step="1" required>

            <button type="submit" class="btn btn-primary mt-2">Загрузить</button>
        </form>

        <div class="container mt-4">
        <section class="mt-4">
            <p>
            <h2>Временной ряд с полученными аномалиями:</h2>
            {% if plot_html %}
                <div id="plot" class="mb-4">{{ plot_html|safe }}</div>
            {% else %}
                <p>Ожидаем параметров.</p>
            {% endif %}
        </section>
    </div>

    </div>
{% endblock %}
